body {
    background-image: url(https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2020&q=80);
    background-position: center center;
    background-repeat: repeat-y;
}

.scrollspy-example{
  color: #F0FFFF;
}

.header1 {
    text-align: center;
    color: #FFFFFF;
}

.homeimage {
    color: #FFFFFF;
    display: inline-block;
}

.imagepp {
  margin: 10px 10px;
  padding: 10px 10px;
  float: left;
}

.tableinfo{
  color: #FFFFFF;
}

.navbar {
    margin: 0px 100px;
    background-color: grey;
}

.scrollspy-example {
    margin: 20px 100px;
    background-image: url(http://www.transparenttextures.com/patterns/texturetastic-gray.png);
    top: 100px;
    bottom:0;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
}

.contactus{
  margin: 10px 10px;
}

.footer1 {
    margin: 10px 10px;
    text-align: center;
    color: #FFFFFF;
}

ul {
    font-family: Arial;
    color: #FFFFFF;
}


.stickynavbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.stickynavbar + .scrollspy-example {
  padding-top: 102px;
}

.footer1 {
  background-color: grey;
}



